@import "tailwindcss";

.card {
  @apply bg-gradient-to-t from-white/20 w-72 h-64 rounded-xl shadow-xl self-end;
}
.card-active {
  @apply h-96;
}
.card-active .logo {
  @apply bg-green-100 text-[#2B7810];
}
.logo {
  @apply text-5xl mt-2 max-w-[5rem] mx-auto min-w-[5rem] min-h-[5rem] rounded-full bg-green-200 text-green-600 grid place-items-center;
}
.para {
  @apply mt-3;
}
.input-style {
  @apply px-4 py-2 border-[1px] border-gray-400 rounded-md;
}
.primary-btn {
  @apply hover:bg-green-900 text-white px-4 py-2 rounded-md bg-[#2B7810] cursor-pointer duration-200;
}
.chatbot-button {
  background-color: #2b7810;
  color: white;
  border-radius: 9999px;
  padding: 6px 12px;
  font-size: 0.875rem;
  margin: 4px;
  cursor: pointer;
}
